<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your Account Was Created Succesfuly</h2>
        <p>you can Login to your Account Using Your credentials
        </p>
        <hr />
        <b>Thank you</b>
    </div>
</div>