@model Actor
@{
    ViewData["title"] = "Add a new Actor";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1> Add a New Actor</h1>
        </p>
        <div class="row">
             <div class="col-md-8 offset-2">
                 <form asp-action="Create" >
                     <div class="form-group text-center">
                             <img id="ProfilepicturePreview" style="max-width: 150px" />
                    </div>
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                         <div class="form-group">
                             <label asp-for="ProfilePictureUrl" class="control-label">Picture url</label>
                             <input asp-for="ProfilePictureUrl" id="ProfilePictureUrl" class="form-control"/>
                             <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
                         </div>
                         
                         <div class="form-group">
                             <label asp-for="ActorName" class="control-label"></label>
                             <input asp-for="ActorName" class="form-control"/>
                             <span asp-validation-for="ActorName" class="text-danger"></span>
                         </div>
                         <div class="form-group">
                             <label asp-for="Bio" class="control-label"></label>
                             <input asp-for="Bio" class="form-control"/>
                             <span asp-validation-for="Bio" class="text-danger"></span>
                         </div>
                     
                     <div class="form-group">
                         <Input type="submit" value="Create" class="btn btn-outline-success float-right"/>
                         <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                     </div>
                 </form>
             </div>
            
        </div>

    </div>

</div>
@section Scripts{
    <script>
        $(document).ready(function() {
             var output = document.getElementById('ProfilepicturePreview');
                    output.src = $('#ProfilePictureUrl').val();
        })
        $('#ProfilePictureUrl').on('change', function(){
            var output = document.getElementById('ProfilepicturePreview');
            output.src = $(this).val();
        })
    </script>
}