@model string;

 @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="text-white">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-success" style="position:fixed; right:25px; bottom:70px;"><i class="bi bi-plus-circle"></i>Add New</a>
    </div>

}