<div class="row text-center">
    <div class="col-md-6 offset-3">
    <h1 class="text-info">We have reached den of the website</h1>
    <hr />
    <a class="btn btn-primary" asp-controller="Movie" asp-action="Index">Home</a>
    </div>
</div>