<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completed Succesfuly</h2>
        <p>you can check all yours order in Order section of your profile</p>
        <hr />
        <b>Thank you</b>
    </div>
</div>